.contact-list-container {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  margin-right: 5px;
}

.contact-item:hover {
  background-color: #e0eaf5;
}

.contact-item.selected {
  background-color: #e0eaf5;
}

.contact-details {
  flex-grow: 1;
}

.contact-name {
  font-weight: bold;
}

.contact-email {
  font-size: 14px;
  color: #666;
}

.contact-tick {
  font-size: 20px;
  color: green;
}

.assign-task-button {
  position: absolute;
  top: 5px;
  right: 25px;
  padding: 10px ;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.assign-task-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.assign-task-button:hover {
  background-color: #35d873;
}
